<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Go404</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="/" class="logo">Go404</a>
        <h1>Simple Go Webserver</h1>
    </header>
    <div class="container">
        <h2>Welcome to GoFourOhFour</h2>
        <div class="link-group grid-layout">
            <div class="column">
                <a href="/files" class="btn">Download Files</a>
                <a href="/retrieve" class="btn">View Text</a>
            </div>
            <div class="column">
                <a href="/upload" class="btn">Upload Files</a>
                <a href="/submit" class="btn">Send Text</a>
            </div>
        </div>
    </div>
    <footer>
        &copy; 2024 Simple Go Webserver. <i>Powered by biscuits</i>.
    </footer>
</body>
</html>
