<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Go404</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="/" class="logo">Go404</a>
        <h1>Simple Go Webserver</h1>
    </header>
    <div class="container">
        <h2>Welcome to GoFourOhFour</h2>
        <a href="/files">Download Files</a><br>
        <a href="/retrieve">View Text</a><br>
        <a href="/upload">Upload Files</a><br>
        <a href="/submit">Send Text</a>
    </div>
    <footer>
        &copy; 2024 Simple Go Webserver. All rights reserved.
    </footer>
</body>
</html>
